/*  */
html, body {
    /*background-color: rgba(255, 250, 230, 0.5);*/
    font-family: "Didact+Gothic", "Calibri", sans-serif;
    background-color: #c6d166;
    color: #000000;
}

.raised-box {
    box-shadow: inset 2px 1px  0px #5c821a,
                      0   0   20px #0f1b07;
    border-radius: 16px;
    background-color: #ffffff
}


/* Navbar */
.navbar {
    height: 100px;
    padding-top: 19px;
}

.navbar ul {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}

.navbar li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    box-sizing: border-box;
    border-width: 1px;
    width: 72px;
    height: 72px;
    margin: 0 22px;
    border-radius: 16px;
    background-color: #fff;
}


.navbar i {
    align-items: center;
    text-align: center;
    width: 100%;
    margin: auto;
    color: #0f1b07;
    font-size: 3em;
}


/* Front Page */
.full-page {
    box-sizing: border-box;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 720px;
    width: 100%;
}

/*Design debugging*/
.center-pane, .side-pane {
    box-sizing: border-box;
}

/* Center Pane */

.center-content {
    position: relative;
    text-align: center;
    top: 9%;
    width: 100%;
}

.side-pane, .center-pane {
    box-sizing: border-box;
    margin: 36px 36px;
    padding: 0 24px;
}

.side-pane {
    padding: 20px 50px;
}

.photo-wrapper {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    border-radius: 50%;
    background-image: url("../cover-photo-240.png");
}

.name h1{
    font-size: 4em;
}

.title {
    font-size: 1.2em;
}

.quote {
    font-style: italic;
    padding-top: 6px;
}

.qoutee {
    font-style: normal;
}

/* Side Panes */
article ul {
    margin-left: -12px;
    list-style-type: none;
}

.degree {
    text-indent: 1em;
}



.footer {
    text-align: center;
}
